/* General */
footer p{margin: 0;}
body{
    margin: 0px;
    box-sizing: border-box;
}
.flex-c-row{
    display: flex;
    flex-direction: row;
}
.flex-c-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.self-center {
    align-self: center;
}
/* utilis */
.btn{
    border-radius: 20px;
    border:transparent;
    padding: 4px 12px;
    background: #fff;
}
.pad-xl{
    padding: 8px 24px;
}
.black{
background-color: black;
color: white;
}
.azure{
    background-color:#95a6e3;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.imag-big{
    width: 90%;
}
.imag-small{
    width: 40%;
}
.imag-xs{
    width:1.5em;
}
.flex-20{
    flex: 20%;
}
.flex-30{
    flex:30%
}
.flex-50{
    flex: 50%;
}
.flex-70{
    flex: 70%;
}
footer div.justify-reset{
    justify-content: unset;
}
select{
    background: transparent;
    color: white;
    border: 0;
}
/* header */
header{
  background-color: rgb(63, 118, 207);
  background-image: url(/img/jumbo.png);
  background-size: cover;
  color: white;
  padding: 1em;
}
header .flex-c-row {
    justify-content: space-around;
}

nav{
    justify-content: space-around;
}
#jumbo{
    width: 60%;
    margin: 50px 0;
}
h1{
    margin-bottom: 0;
    font-size: 2em;
    width: 100%;
}
#barra{
    width: 45%;
}
/* main */
section{
    background-color: white;
    padding: 6em;
}
main section .flex-center{
    text-align: start;
}
main section:nth-child(even) {
    background: #eee;
}
main section:nth-child(odd) {background: #ffffff}
h3{
    background: url(/img/stars.svg) no-repeat;
    padding: 2em;
    margin: 0;
}
/* footer */
footer{
    color:white;
    background-color: #333;
    justify-items: center;
}
footer h2, footer p {
    color: #95a6e3;
    font-weight: bolder;
}
footer p, footer a{
    padding-bottom: 0.7em;
}
footer .flex-c-row {
    justify-content: space-around;
}
footer hr, .flex-c-row.space-between{
    width: 90%;
}
footer .space-between{
    justify-content: space-between;
}
.padder>*{
    margin:0;
    padding-bottom: 1em;
}
.dpad{
    padding-top:2em;
}
.lpad{
    padding-bottom: 4em;
}
.pad-right{
    padding-right: 4em;
}